body {
background: #07c3e4;
font-family:"Times New Roman", Times, serif;
margin: 40px;
}
h1 {
text-align: center;
color: #3bff45;
}
.top-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.problem-statement {
  background: #e40a0a;
  padding: 16px;
  border-radius: 12px;
  width: 48%;
}

.mission-statement {
    background: #ff466e;
    padding: 16px;
    border-radius: 12px;
    width: 48%;
}
.Affinity Diagram {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.Affinity Diagram img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}
.StoryBoard {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.StoryBoard img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}