
body {
background: midnightblue;
font-family: 'Times New Roman', Times, serif;
}
h1 {
color: wheat;
text-align: center;
}

h2 {
color: wheat;
}
p {
color: pink;
width: 33%;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; } /* condensed to save space */
.project {
 width: 30%;
 margin: 10px;
 padding: 20px 10px;
 background: green; /* pick a color */
 border-radius: 25%;
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(126, 14, 201); /* choose a color */
display: block;
margin: auto;
}

h3 {
width: 33%;
}