
<!-- body-->

body {
background:white;
font-family: 'Times New Roman', Times, serif;
}

<!--Title-->
h1 {
color: wheat;
text-align: center;
}
<!--Headings-->
h2 {
color: wheat;
}

<!-- might be worthless rn-->
p {
color: rgb(115, 255, 0);
}
<!--^^-->
h3 {
color: aqua;
width: 30%;
}

.projects h3{
color: yellow
width: 33%
}
.projects p{
color: blue;
}
.projects { 
    display:flex; 
    flex-wrap:wrap; } /* condensed to save space */
.project {
 width: 30%;
 margin: 10px;
 padding: 20px 10px;
 background: green; /* pick a color */
 border-radius: 25%;
}

<!--Image boarders-->
.project img{
width: 85%;
height: 65%;
max-width: 100%;
border: 2px solid black;
display: block;
margin: auto;
}
